<div class="flex flex-col max-w-240 md:min-w-160 max-h-160 -m-6">
    <!-- Header -->
    <div class="flex flex-0 items-center justify-between h-16 pr-3 sm:pr-5 pl-6 sm:pl-8 bg-primary text-on-primary">
        <div class="text-lg">{{action === 'new' ? 'New Group' : 'Edit Group'}}</div>
        <button
            mat-icon-button
            (click)="matDialogRef.close()"
            [tabIndex]="-1">
            <mat-icon
                class="text-current"
                [svgIcon]="'heroicons_outline:x'"></mat-icon>
        </button>
    </div>

    <!-- form -->
    <form
        class="flex flex-col flex-auto p-6 sm:p-8 overflow-y-auto"
        [formGroup]="form">


        <div *ngIf="groupType">
            <div class="flex flex items-center mb-4 -mt-4">
                <mat-icon *ngIf="groupType.iconCssClass" class="mr-1" [svgIcon]="groupType.iconCssClass"></mat-icon>
                <div *ngIf="groupType.isSystem"
                    class="mr-1 px-1.5 rounded text-sm font-semibold leading-5 text-white bg-red-600">
                    SYSTEM GROUP
                </div>
                <div *ngIf="groupType.takesAttendance"
                     class="mr-1 px-1.5 rounded text-sm font-semibold leading-5 text-white bg-green-600">
                    TAKES ATTENDANCE
                </div>
            </div>
        </div>

        <div class="flex flex-row justify-between">
            <!--<churches-select-control formControlName="churchId" required></churches-select-control>-->
            <group-types-select-control formControlName="groupTypeId" required> </group-types-select-control>
            <mat-slide-toggle formControlName="isOnline">{{form.get('isOnline').value ? 'Online' : 'Not Online'}}</mat-slide-toggle>
        </div>

        <!-- Parent Group -->
        <!--<mat-form-field>
            <mat-label>Parent Group</mat-label>
            <mat-select formControlName="parentGroupId" >
                <mat-option [value]="parentGroup?.id">{{parentGroup?.name}}</mat-option>
                <mat-option value="0">No Parent</mat-option>
            </mat-select>
            <mat-icon
                class="icon-size-5"
                matPrefix
                [svgIcon]="'heroicons_solid:link'"></mat-icon>
        </mat-form-field>-->

        <label class="font-medium">Parent Group</label>
        <cm-church-groups-control
            [noSelectionLabel]="'-- No Parent --'"
            formControlName="churchParentGroup">
        </cm-church-groups-control>


        <!-- Name & Description -->
        <mat-form-field>
            <mat-label>Name</mat-label>
            <input
                matInput required
                formControlName="name">
        </mat-form-field>

        <mat-form-field>
            <mat-label>Description</mat-label>
            <input
                matInput
                formControlName="description">
        </mat-form-field>

        <mat-form-field>
            <mat-label>Address</mat-label>
            <mat-icon
                matPrefix
                [svgIcon]="'heroicons_outline:location-marker'"></mat-icon>
            <input
                matInput
                formControlName="address">
        </mat-form-field>

        <!-- Takes Attendance Section -->
        <mat-divider class="mt-1 mb-2"></mat-divider>

        <div *ngIf="groupType?.takesAttendance">

            <p class="text-lg font-medium">Group meeting details</p>

            <label class="font-medium">Meeting Time</label>
            <ngx-mat-timepicker formControlName="meetingTime" [showSpinners]="false"></ngx-mat-timepicker>

            <!-- Start Date Meeting -->
            <div class="mt-1">
                <mat-form-field class="fuse-mat-no-subscript w-full">
                    <mat-label>Meeting Start Date</mat-label>
                    <input
                        matInput
                        [matDatepicker]="startDatepicker"
                        [formControlName]="'start'"
                        [placeholder]="'Birthday'">
                    <mat-datepicker-toggle
                        matSuffix
                        [for]="startDatepicker">
                    </mat-datepicker-toggle>
                    <mat-datepicker #startDatepicker></mat-datepicker>
                </mat-form-field>
            </div>

            <!-- Recurrence -->
            <div class="flex items-center mt-4 mb-2">
                <mat-icon
                    class="hidden sm:inline-flex mr-6 transform -scale-x-1"
                    [svgIcon]="'heroicons_outline:refresh'"></mat-icon>
                <div
                    class="flex flex-auto items-center h-12 px-4 rounded-md border cursor-pointer shadow-sm border-gray-300 dark:bg-black dark:bg-opacity-5 dark:border-gray-500"
                    (click)="openRecurrenceDialog()">
                    <div class="flex-auto">
                        {{(recurrenceText$ | async) || 'Does not repeat'}}
                    </div>
                </div>
            </div>

        </div>


        <!-- Actions -->
        <div class="flex items-center mt-10 -mx-6 py-4 pr-4 border-t bg-gray-50 dark:bg-transparent">
            <!-- Cancel -->
            <button
                class="ml-auto"
                mat-button
                [matTooltip]="'Cancel'"
                (click)="matDialogRef.close()">
                Cancel
            </button>
            <!-- Save -->
            <button
                class="ml-2"
                mat-flat-button
                [color]="'primary'"
                [disabled]="form.invalid || !form.touched"
                [matTooltip]="'Save'"
                (click)="matDialogRef.close([action, form.getRawValue()])">
                Save
            </button>
        </div>

    </form>

</div>