<div class="flex flex-col flex-auto min-h-full p-8">
    <div class="pb-6 text-xl font-extrabold tracking-tight">Advanced Search</div>

    <div class="group flex items-center justify-between mb-3">


        <mat-button-toggle-group name="fontStyle" multiple>
            <mat-button-toggle value="bold">Bold</mat-button-toggle>
            <mat-button-toggle value="italic">Italic</mat-button-toggle>
            <mat-button-toggle value="underline">Underline</mat-button-toggle>
        </mat-button-toggle-group>

    </div>
</div>