<!-- Loader -->
<div
    *ngIf="isLoading$ | async">
    <mat-progress-bar [mode]="'indeterminate'"></mat-progress-bar>
</div>

<!-- Items list -->
<mat-tree [dataSource]="dataSource" [treeControl]="treeControl" [trackBy]="trackBy">

    <!-- Leaf node -->
    <mat-tree-node *matTreeNodeDef="let node" matTreeNodeToggle matTreeNodePadding>
        <!-- use a disabled button to provide padding for tree leaf -->
        <button mat-icon-button disabled></button>
        <mat-icon *ngIf="node?.item?.groupType?.iconCssClass" class="mr-2"
                  [svgIcon]="node.item.groupType.iconCssClass"></mat-icon>
        <span
            class="cursor-pointer"
            (click)="onSelectGroup(node);loadChildren(node)"
             [ngClass]="{ 'font-bold text-secondary': selected?.id === node.item?.id }">
                {{node?.item?.name}}
        </span>
        <button mat-icon-button matTooltip="Add New Group"  (click)="openAddGroupDialog(node)"><mat-icon>add</mat-icon></button>
    </mat-tree-node>

    <!-- Expandable node -->
    <mat-tree-node *matTreeNodeDef="let node;when: hasChild" matTreeNodePadding>
        <button mat-icon-button matTreeNodeToggle
                (click)="loadChildren(node)">
            <mat-icon class="mat-icon-rtl-mirror">
                {{treeControl.isExpanded(node) ? 'expand_more' : 'chevron_right'}}
            </mat-icon>
        </button>
        <mat-icon *ngIf="node?.item?.groupType?.iconCssClass" class="mr-2"
                  [svgIcon]="node.item.groupType.iconCssClass"></mat-icon>
        <span
            class="cursor-pointer"
            (click)="onSelectGroup(node)"
            [ngClass]="{ 'font-bold text-secondary': selected?.id === node.item?.id }">
                {{node?.item?.name}} <span class="text-sm">({{node?.item?.groups?.length}})</span>
        </span>
        <button mat-fab-button matTooltip="Add New Group" (click)="openAddGroupDialog(node)"><mat-icon>add</mat-icon></button>
    </mat-tree-node>
</mat-tree>




