<div class="absolute inset-0 flex flex-col min-w-0 overflow-hidden dark:bg-transparent">

    <mat-drawer-container class="flex-auto h-full bg-transparent">

        <!-- Drawer -->
        <mat-drawer
            class="w-1/2 md:w-1/3 dark:bg-gray-900"
            [autoFocus]="false"
            [mode]="isScreenSmall ? 'over' : 'side'"
            [opened]="true"
            #drawer>
                <groups-viewer
                    [groups]="groups$ | async"
                    (selectedGroup)="onGroupSelected($event)"
                    (addedGroup)="onGroupAdded($event)"
                    (loadedChildren)="onLoadChildren($event)"
                ></groups-viewer>
        </mat-drawer>

        <mat-drawer-content class="flex flex-col">

            <button
                mat-icon-button
                (click)="toggleDrawer()">
                <mat-icon [svgIcon]="'heroicons_outline:menu'"></mat-icon>
            </button>

            <!-- Main -->
            <group-details [group]="selectedGroup$ | async"></group-details>

            <group-members
                [members]="members$ | async"
                [group]="selectedGroup$ | async"
                [isLoading]="loading$ | async"
                (memberAdded)="onMemberAdded($event)"
                (memberDeleted)="onMemberDeleted($event)"
                (memberUpdated)="onMemberUpdated($event)">
            </group-members>

        </mat-drawer-content>

    </mat-drawer-container>

</div>