<div class="absolute inset-0 flex flex-col min-w-0 overflow-hidden dark:bg-transparent">

    <mat-drawer-container autosize class="flex-auto h-full bg-transparent">

        <!-- Drawer -->
        <mat-drawer
            class="dark:bg-gray-900"
            [autoFocus]="false"
            [mode]="isScreenSmall ? 'over' : 'side'"
            [opened]="true"
            #drawer>
            <groups-viewer
                [groups]="groups$ | async"
                (selectedGroup)="onGroupSelected($event)"
                (addedGroup)="onGroupAdded($event)"
                (loadedChildren)="onLoadChildren($event)"
            ></groups-viewer>
        </mat-drawer>

        <mat-drawer-content class="flex">

            <!-- Main -->
            <div class="flex flex-col flex-auto">

                <!-- Header -->
                <div class="flex flex-0 flex-wrap items-center p-4 border-b bg-card">

                    <button
                        mat-icon-button
                        (click)="toggleDrawer()">
                        <mat-icon [svgIcon]="'heroicons_outline:menu'"></mat-icon>
                    </button>
                </div>

                <group-details [group]="selectedGroup$ | async"></group-details>

                <group-members
                    [members]="members$ | async"
                    [group]="selectedGroup$ | async"
                    [isLoading]="loading$ | async"
                    (memberAdded)="onMemberAdded($event)"
                    (memberDeleted)="onMemberDeleted($event)"
                    (memberUpdated)="onMemberUpdated($event)">
                </group-members>

            </div>

        </mat-drawer-content>

    </mat-drawer-container>

</div>