<div *ngIf="group">

    <div class="flex flex-col flex-auto p-6 md:p-8">

        <!-- Name & Type -->
        <div class="flex flex-col items-start mt-8">
            <div class="text-xl font-medium">{{group.name}}</div>
            <div
                class="mt-1 px-1.5 rounded text-sm font-semibold leading-5 text-white"
                [class.bg-indigo-600]="group.groupType.name === 'Cell'"
                [class.bg-red-600]="group.groupType.name === 'PDF'"
                [class.bg-blue-600]="group.groupType.name=== 'DOC'"
                [class.bg-green-600]="group.groupType.name === 'XLS'"
                [class.bg-gray-600]="group.groupType.name=== 'TXT'"
                [class.bg-amber-600]="group.groupType.name=== 'JPG'">
                {{group.groupType.name.toUpperCase()}}
            </div>
        </div>

        <!-- Information -->
        <div class="text-lg font-medium mt-8">Information</div>
        <div class="flex flex-col mt-4 border-t border-b divide-y font-medium">
            <div class="flex items-center justify-between py-3">
                <div class="text-secondary">Parent Group</div>
                <div>{{group.parentGroupName}}</div>
            </div>
            <div class="flex items-center justify-between py-3">
                <div class="text-secondary">Description</div>
                <div>{{group.description}}</div>
            </div>
            <div class="flex items-center justify-between py-3">
                <div class="text-secondary">Address</div>
                <div>{{group.address}}</div>
            </div>
            <div class="flex items-center justify-between py-3">
                <div class="text-secondary">Online</div>
                <div>{{group.isOnline ? 'Yes' : 'No'}}</div>
            </div>

            <div class="flex items-center justify-between py-3">
                <div class="text-secondary">Started At</div>
                <div>{{group.createdDate | date: 'dd MMMM yyyy'}}</div>
            </div>
        </div>

    </div>

</div>