<div *ngIf="members">

    <mat-toolbar>
        <!-- Title -->
        <div class="text-2xl font-medium tracking-tight">Members</div>
        <span class="flex flex-auto"></span>
        <!-- Actions -->
        <!-- Search -->
        <mat-form-field class="fuse-mat-dense fuse-mat-no-subscript min-w-50 mr-2">
            <mat-icon
                matPrefix
                [svgIcon]="'heroicons_outline:search'"></mat-icon>
            <input
                matInput
                (keyup)="applyFilter($event)"
                [autocomplete]="'off'"
                [placeholder]="'Search members'">
        </mat-form-field>

        <button mat-icon-button matTooltip="Add Group Member" (click)="addGroupMember()">
            <mat-icon>person_add_alt_1</mat-icon>
        </button>
        <button mat-icon-button matTooltip="Move to another group">
            <mat-icon>swap_horiz</mat-icon>
        </button>
        <button mat-icon-button matTooltip="Communicate">
            <mat-icon>message</mat-icon>
        </button>
    </mat-toolbar>

    <!-- Header -->
    <div
        class="relative flex flex-col sm:flex-row flex-0 sm:items-center sm:justify-between px-6 md:px-8 border-b">
        <!-- Loader -->
        <div
            class="absolute inset-x-0 bottom-0"
            *ngIf="isLoading">
            <mat-progress-bar [mode]="'indeterminate'"></mat-progress-bar>
        </div>

        <!-- Actions -->
        <div class="flex flex-shrink-0 items-center mt-6 sm:mt-0 sm:ml-4">

        </div>
    </div>

    <!-- GROUP MEMBERS -->
    <div class="flex flex-col flex-auto sm:mb-2 overflow-hidden">

        <ng-container *ngIf="members.length > 0; else noMembers">

            <!-- Table wrapper -->
            <div
                class="overflow-x-auto sm:overflow-y-auto h-max"
                cdkScrollable>

                <!-- Table -->
                <table mat-table [dataSource]="dataSource" matSort
                       class="w-full table-fixed bg-transparent">

                    <!-- Checkbox Column -->
                    <ng-container matColumnDef="select">
                        <th class="w-6" mat-header-cell *matHeaderCellDef>
                            <mat-checkbox (change)="$event ? masterToggle() : null"
                                          [checked]="selection.hasValue() && isAllSelected()"
                                          [indeterminate]="selection.hasValue() && !isAllSelected()">
                            </mat-checkbox>
                        </th>
                        <td mat-cell *matCellDef="let row">
                            <mat-checkbox (click)="$event.stopPropagation()"
                                          (change)="$event ? selection.toggle(row) : null"
                                          [checked]="selection.isSelected(row)">
                            </mat-checkbox>
                        </td>
                    </ng-container>

                    <!-- Avatar Column -->
                    <ng-container matColumnDef="photoUrl">
                        <th class="w-12" mat-header-cell *matHeaderCellDef></th>
                        <td class="px-8" mat-cell *matCellDef="let element">
                            <div class="flex flex-0 items-center justify-center w-8 h-8 rounded-full overflow-hidden">
                                <ng-container *ngIf="element.photoUrl">
                                    <img
                                        class="object-cover w-full h-full"
                                        [src]="element.photoUrl"
                                        alt="Contact avatar"/>
                                </ng-container>
                                <ng-container *ngIf="!element.photoUrl">
                                    <div
                                        class="flex items-center justify-center w-full h-full rounded-full text-lg uppercase bg-gray-200 text-gray-600 dark:bg-gray-700 dark:text-gray-200">
                                        {{element.firstName.charAt(0)}}{{element.lastName.charAt(0)}}
                                    </div>
                                </ng-container>
                            </div>
                        </td>
                    </ng-container>

                    <!-- First Name Column -->
                    <ng-container matColumnDef="firstName">
                        <th class="w-12" mat-header-cell *matHeaderCellDef mat-sort-header> First Name</th>
                        <td mat-cell *matCellDef="let element"> {{element.firstName}} </td>
                    </ng-container>

                    <!-- Last Name Column -->
                    <ng-container matColumnDef="lastName">
                        <th class="w-12" mat-header-cell *matHeaderCellDef mat-sort-header> Last Name</th>
                        <td mat-cell *matCellDef="let element"> {{element.lastName}} </td>
                    </ng-container>

                    <!-- Gender Column -->
                    <ng-container matColumnDef="gender">
                        <th class="w-12" mat-header-cell *matHeaderCellDef mat-sort-header> Gender</th>
                        <td mat-cell *matCellDef="let element"> {{element.gender}} </td>
                    </ng-container>

                    <!-- Role Column -->
                    <ng-container matColumnDef="groupMemberRole">
                        <th class="w-12" mat-header-cell *matHeaderCellDef mat-sort-header> Role</th>
                        <td mat-cell *matCellDef="let element"> {{element.groupMemberRole}} </td>
                    </ng-container>

                    <!-- Record Status Column -->
                    <ng-container matColumnDef="recordStatus">
                        <th class="w-12" mat-header-cell *matHeaderCellDef mat-sort-header> Status</th>
                        <td mat-cell *matCellDef="let element"> {{element.recordStatus}} </td>
                    </ng-container>

                    <ng-container matColumnDef="actions">
                        <th  class="w-4" mat-header-cell *matHeaderCellDef></th>
                        <td mat-cell *matCellDef="let element">
                            <button mat-icon-button (click)="delete(element['groupMemberId'])">
                                <mat-icon mat-icon-button>delete</mat-icon>
                            </button>
                        </td>
                    </ng-container>

                    <tr mat-header-row class="h-8" *matHeaderRowDef="displayedColumns"></tr>
                    <tr mat-row class="h-10" *matRowDef="let row; columns: displayedColumns;"></tr>
                </table>

            </div>

            <mat-paginator
                class="sm:absolute sm:inset-x-0 sm:bottom-0 border-b sm:border-t sm:border-b-0 z-10 bg-gray-50 dark:bg-transparent"
                [ngClass]="{'pointer-events-none': isLoading}"
                [length]="members.length"
                [pageSizeOptions]="[5, 10, 25]"
                [showFirstLastButtons]="true"></mat-paginator>

        </ng-container>

        <ng-template #noMembers>
            <div class="flex flex-col p-8 sm:p-8 border-t text-2xl font-semibold tracking-tight text-center">
                <div>No Members</div>

                <div>
                    <button mat-icon-button matTooltip="Add Group Member" (click)="addGroupMember()">
                        <mat-icon>person_add_alt_1</mat-icon>
                    </button>
                </div>
            </div>
        </ng-template>
        <!-- GROUP MEMBERS -->
    </div>
</div>