<div *ngIf="profile$ | async as profile" class="flex flex-col flex-auto min-w-0">

    <!-- Header -->
    <div class="flex flex-col shadow bg-card">

        <!-- Cover image -->
        <div>
            <img
                class="h-40 lg:h-80 object-cover"
                src="../../../assets/images/backgrounds/mountain.jpg"
                alt="Cover image">
        </div>

        <!-- User info -->
        <div class="flex flex-col flex-0 lg:flex-row items-center max-w-5xl w-full mx-auto px-8 lg:h-18 bg-card">

            <!-- Avatar -->
            <div class="-mt-26 lg:-mt-22 rounded-full" (mouseover)="log($event)" (mouseleave)="log($event)">

                <div *ngIf="hoverOverProfileImage"
                     class="relative flex items-center justify-center w-32 h-32 rounded-full overflow-hidden ring-4 ring-bg-card">
                    <!-- Upload / Remove avatar -->
                    <div class="absolute inset-0 bg-black bg-opacity-50 z-10"></div>
                    <div class="absolute inset-0 flex items-center justify-center z-20">
                        <div>
                            <button
                                class="flex items-center justify-center w-10 h-10 rounded-full cursor-pointer hover:bg-hover"
                                matRipple
                                (click)="onEditPhoto()">
                                <mat-icon
                                    class="text-white"
                                    [svgIcon]="'heroicons_outline:camera'"></mat-icon>
                            </button>
                        </div>
                        <div>
                            <button
                                mat-icon-button
                                >
                                <mat-icon
                                    class="text-white"
                                    [svgIcon]="'heroicons_outline:trash'"></mat-icon>
                            </button>
                        </div>
                    </div>
                    <!-- Image/Letter -->
                    <img
                        class="object-cover w-full h-full"
                        *ngIf="profile.photoUrl"
                        [src]="profile.photoUrl">
                    <div
                        class="flex items-center justify-center w-full h-full rounded overflow-hidden uppercase text-8xl font-bold leading-none  text-gray-600 dark:text-gray-200"
                        *ngIf="!profile.photoUrl">
                        {{profile.fullName.firstName.charAt(0)}}
                    </div>
                </div>

                <img *ngIf="!hoverOverProfileImage"
                    class="w-32 h-32 rounded-full ring-4 ring-bg-card"
                    [src]="profile.photoUrl"
                    alt="User avatar">
            </div>

            <!-- Details -->
            <div class="flex flex-col items-center lg:items-start mt-4 lg:mt-0 lg:ml-8">
                <div class="text-lg font-bold leading-none">{{profile.fullName.firstName}} {{profile.fullName.middleName}} {{profile.fullName.lastName}}</div>
                <div class="text-secondary">{{profile.ageClassification}}, {{profile.gender}}</div>
            </div>

            <!-- Separator -->
            <div class="hidden lg:flex h-8 mx-8 border-l-2"></div>

            <!-- Stats -->
            <div class="flex items-center mt-6 lg:mt-0 space-x-6">
                <div class="flex flex-col items-center">
                    <span class="font-bold">Status</span>
                    <span class="text-sm font-medium text-secondary">{{profile.connectionStatus}}</span>
                </div>
                <div class="flex flex-col items-center">
                    <span class="font-bold">Church</span>
                    <span class="text-sm font-medium text-secondary">{{profile.church.name}}</span>
                </div>
            </div>

            <!-- Menu -->
            <div class="flex items-center mt-8 mb-4 lg:m-0 lg:ml-auto space-x-6">
                <a
                    class="text-secondary profile-nav-link"
                    [routerLink]="['./']"
                    [routerLinkActive]="'active'"
                    [routerLinkActiveOptions]="{exact: true}">
                    Home
                </a>
                <a
                    class="text-secondary profile-nav-link"
                    [routerLink]="['./groups']"
                    [routerLinkActive]="'active'">
                    Groups
                </a>
                <a
                    class="text-secondary profile-nav-link"
                    [routerLink]="['./discipleship']"
                    [routerLinkActive]="'active'">
                    Discipleship
                </a>
            </div>
            <!-- Menu -->

        </div>

    </div>

    <!-- Router outlet for Menu sections -->
    <router-outlet></router-outlet>
    <!-- Router outlet for Menu sections -->

</div>


