<div *ngIf="profile$ | async as profile" class="flex flex-col flex-auto min-w-0">

    <!-- Header -->
    <div class="flex flex-col shadow bg-card">

        <!-- Cover image -->
        <div>
            <img
                class="h-40 lg:h-80 object-cover"
                src="../../../assets/images/pages/profile/profile-mountain.jpg"
                alt="Cover image">
        </div>

        <!-- User info -->
        <div class="flex flex-col flex-0 lg:flex-row items-center max-w-5xl w-full mx-auto px-8 lg:h-18 bg-card">

            <!-- Avatar -->
            <div class="-mt-26 lg:-mt-22 rounded-full">
                <img
                    class="w-32 h-32 rounded-full ring-4 ring-bg-card"
                    [src]="profile.photoUrl"
                    alt="User avatar">
            </div>

            <!-- Details -->
            <div class="flex flex-col items-center lg:items-start mt-4 lg:mt-0 lg:ml-8">
                <div class="text-lg font-bold leading-none">{{profile.fullName.firstName}} {{profile.fullName.middleName}} {{profile.fullName.lastName}}</div>
                <div class="text-secondary">{{profile.ageClassification}}, {{profile.gender}}</div>
            </div>

            <!-- Separator -->
            <div class="hidden lg:flex h-8 mx-8 border-l-2"></div>

            <!-- Stats -->
            <div class="flex items-center mt-6 lg:mt-0 space-x-6">
                <div class="flex flex-col items-center">
                    <span class="font-bold">Status</span>
                    <span class="text-sm font-medium text-secondary">{{profile.connectionStatus}}</span>
                </div>
                <div class="flex flex-col items-center">
                    <span class="font-bold">Church</span>
                    <span class="text-sm font-medium text-secondary">{{profile.church.name}}</span>
                </div>
            </div>

            <!-- Menu -->
            <div class="flex items-center mt-8 mb-4 lg:m-0 lg:ml-auto space-x-6">
                <a
                    class="text-secondary profile-nav-link"
                    [routerLink]="['./']"
                    [routerLinkActive]="'active'"
                    [routerLinkActiveOptions]="{exact: true}">
                    Home
                </a>
                <a
                    class="text-secondary profile-nav-link"
                    [routerLink]="['./groups']"
                    [routerLinkActive]="'active'">
                    Groups
                </a>
            </div>
            <!-- Menu -->

        </div>

    </div>

    <!-- Router outlet for Menu sections -->
    <router-outlet></router-outlet>
    <!-- Router outlet for Menu sections -->

</div>


