<!-- Search -->
<form [formGroup]="searchForm">
    <div class="flex flex-wrap justify-between items-baseline px-4 pt-4">

        <cm-group-type-groups-control
            formControlName="groupTypeGroup"
            required>
        </cm-group-type-groups-control>

        <report-date-picker-control
            formControlName="reportingDate"
            required>
        </report-date-picker-control>

        <button mat-raised-button color="primary"
                [disabled]="!searchForm.valid"
                (click)="searchBtnClicked.next()">
            <mat-icon>search</mat-icon>
            Search
        </button>

    </div>

</form>