<div class="absolute inset-0 flex flex-col min-w-0 overflow-hidden">

    <!-- Header -->
    <div
        class="flex flex-col sm:flex-row flex-0 sm:items-center sm:justify-between p-6 sm:py-8 sm:px-10 border-b bg-card dark:bg-transparent">
        <div class="flex-1 min-w-0">
            <!-- Breadcrumbs -->
            <div>
                <div class="hidden sm:flex flex-wrap items-center font-medium">
                    <div>
                        <a class="whitespace-nowrap text-primary-500">Groups</a>
                    </div>
                    <div class="flex items-center ml-1 whitespace-nowrap">
                        <mat-icon
                            class="icon-size-5 text-secondary"
                            [svgIcon]="'heroicons_solid:chevron-right'"></mat-icon>
                        <a class="ml-1 text-primary-500" [routerLink]="'./..'">Cell Ministry</a>
                    </div>

                </div>
                <div class="flex sm:hidden">
                    <a
                        class="inline-flex items-center -ml-1.5 text-secondary font-medium"
                        [routerLink]="'./..'">
                        <mat-icon
                            class="icon-size-5 text-secondary"
                            [svgIcon]="'heroicons_solid:chevron-left'"></mat-icon>
                        <span class="ml-1">Back</span>
                    </a>
                </div>
            </div>
            <!-- Title -->
            <div class="mt-2">
                <h2 class="text-3xl md:text-4xl font-extrabold tracking-tight leading-7 sm:leading-10 truncate">
                    Attendance Reports Submissions
                </h2>
            </div>
        </div>

    </div>

    <!-- Main -->
    <div class="flex-auto p-6 sm:p-10 overflow-y-auto" cdkScrollable>

        <!-- Content -->
        <div class="w-full max-w-screen-xl mx-auto">

            <!-- Search -->
            <form [formGroup]="searchForm">
                <div class="flex flex-wrap items-baseline">

                    <churches-select-control formControlName="church"></churches-select-control>

                    <mat-form-field class="ml-2" appearance="outline">
                        <mat-label>Period</mat-label>
                        <mat-select formControlName="period" required>
                            <mat-option [value]="40">
                                Last week
                            </mat-option>
                            <mat-option [value]="30">
                                This week
                            </mat-option>
                            <mat-option [value]="50">
                                This month
                            </mat-option>
                        </mat-select>
                    </mat-form-field>

                    <!--https://medium.com/@iamryanyu/how-to-align-last-flex-item-to-right-73512e4e5912-->
                    <button class="ml-auto" mat-raised-button color="primary"
                            [disabled]="!searchForm.valid"
                            (click)="searchBtnClicked.next()">
                        <mat-icon>search</mat-icon>
                        Search
                    </button>

                </div>

            </form>
            <!-- Search -->

            <!-- Loader -->
            <mat-progress-bar *ngIf="loading$ | async" [mode]="'indeterminate'"></mat-progress-bar>


            <!-- Table -->
            <div *ngIf="attendanceReportSubmissions$ | async as data">
                <h2 class="text-xl md:text-1xl font-semibold tracking-tight leading-7 sm:leading-10 truncate">
                    Groups Without Reports
                </h2>
                <general-table  [columns]="columns"
                                [data]="data"
                                [filter]="true"
                                [filterPlaceholder]="'Filter any value'"
                                [pagination]="[5, 25, 100]"
                                [pageSize]="10">
                </general-table>
            </div>

            <!-- Table -->


        </div>

    </div>

</div>