/* ----------------------------------------------------------------------------------------------------- */
/*  @ Import/write your custom styles here.
/*  @ Styles from this file will override 'vendors.scss' and Fuse's base styles.
/* ----------------------------------------------------------------------------------------------------- */
body.light .mat-simple-snackbar-action, body .light .mat-simple-snackbar-action {
    color: #cbd5e1 !important;
}

/* ----------------------------------------------------------------------------------------------------- */
/*  @ Snackbar
/* ----------------------------------------------------------------------------------------------------- */
.blue-snackbar {
    background: #2196F3 !important;
}
.green-snackbar {
    background: #1faa00  !important;
}
.red-snackbar {
    background: #B00020  !important;
}

/* ----------------------------------------------------------------------------------------------------- */
/*  @ Table
/* ----------------------------------------------------------------------------------------------------- */
.mat-header-row,
.mat-footer-row,
.mat-row {
    min-height: 10px;
    height: 10px !important;
}