<div class="absolute inset-0 flex flex-col min-w-0 overflow-hidden">

    <!-- Header -->
    <div class="flex flex-col sm:flex-row flex-0 sm:items-center sm:justify-between p-6 sm:py-8 sm:px-10 border-b bg-card dark:bg-transparent">
        <div class="flex-1 min-w-0">
            <!-- Breadcrumbs -->
            <div>
                <div class="hidden sm:flex flex-wrap items-center font-medium">
                    <div>
                        <a class="whitespace-nowrap text-primary-500">Groups</a>
                    </div>
                    <div class="flex items-center ml-1 whitespace-nowrap">
                        <mat-icon
                            class="icon-size-5 text-secondary"
                            [svgIcon]="'heroicons_solid:chevron-right'"></mat-icon>
                        <a class="ml-1 text-primary-500">Cell Ministry</a>
                    </div>

                </div>
                <div class="flex sm:hidden">
                    <a
                        class="inline-flex items-center -ml-1.5 text-secondary font-medium"
                        [routerLink]="'./..'">
                        <mat-icon
                            class="icon-size-5 text-secondary"
                            [svgIcon]="'heroicons_solid:chevron-left'"></mat-icon>
                        <span class="ml-1">Back</span>
                    </a>
                </div>
            </div>
            <!-- Title -->
            <div class="mt-2">
                <h2 class="text-3xl md:text-4xl font-extrabold tracking-tight leading-7 sm:leading-10 truncate">
                    Dashboard
                </h2>
            </div>
        </div>

        <!-- Actions -->
        <div class="flex flex-shrink-0 items-center mt-6 sm:mt-0 sm:ml-4">
            <button
                class="ml-3"
                mat-flat-button
                [routerLink]="'/apps/groups/cell-ministry/attendance-reports'"
                [color]="'accent'">
                <mat-icon
                    class="icon-size-5 mr-2"
                    [svgIcon]="'heroicons_solid:clipboard-check'"></mat-icon>
                View Attendance Reports
            </button>
        </div>
    </div>

    <!-- Main -->
    <div class="flex-auto p-6 sm:p-10 overflow-y-auto" cdkScrollable>

        <!-- CONTENT GOES HERE -->
        <div class="w-full max-w-screen-xl mx-auto">

            <div *ngIf="dashboardData$ | async as data"
                class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-4 gap-6 w-full min-w-0">
                <!-- Active Cells -->
                <div class="flex flex-col flex-auto p-6 bg-card shadow rounded-2xl overflow-hidden">
                    <div class="flex items-start justify-between">
                        <div class="text-lg font-medium tracking-tight leading-6 truncate">Cells</div>
                    </div>
                    <div class="flex flex-col items-center mt-2">
                        <div class="text-7xl sm:text-8xl font-bold tracking-tight leading-none text-blue-500">{{data.totalCellsCount}}</div>
                        <div class="text-lg font-medium text-blue-600 dark:text-blue-500">Total Cells</div>
                        <div class="flex items-center justify-center w-full mt-5 text-secondary">
                            <div class="text-md font-medium truncate">Active Cells:</div>
                            <div class="ml-1.5 text-lg font-semibold">{{data.activeCellsCount}}</div>
                        </div>
                        <div class="flex items-center justify-center w-full text-secondary">
                            <div class="text-md font-medium truncate">Inactive Cells:</div>
                            <div class="ml-1.5 text-lg font-semibold">{{data.inActiveCellsCount}}</div>
                        </div>
                    </div>
                </div>
                <!-- Overdue -->
                <div class="flex flex-col flex-auto p-6 bg-card shadow rounded-2xl overflow-hidden">
                    <div class="flex items-start justify-between">
                        <div class="text-lg font-medium tracking-tight leading-6 truncate">People in Cells</div>
                    </div>
                    <div class="flex flex-col items-center mt-2">
                        <div class="text-7xl sm:text-8xl font-bold tracking-tight leading-none text-red-500">{{data.peopleCount}}</div>
                        <div class="text-lg font-medium text-red-600 dark:text-red-500">People</div>
                        <div class="flex items-center justify-center w-full mt-5 text-secondary">
                            <div class="text-md font-medium truncate">Cell leaders:</div>
                            <div class="ml-1.5 text-lg font-semibold">{{data.leadersCount}}</div>
                        </div>
                    </div>
                </div>
                <!-- Issues -->
                <div class="flex flex-col flex-auto p-6 bg-card shadow rounded-2xl overflow-hidden">
                    <div class="flex items-start justify-between">
                        <div class="text-lg font-medium tracking-tight leading-6 truncate">New Cells</div>
                        <div class="ml-2 -mt-2 -mr-3">
                            <button
                                mat-icon-button
                                [matMenuTriggerFor]="newCellsMenu">
                                <mat-icon
                                    class="icon-size-5"
                                    [svgIcon]="'heroicons_solid:dots-vertical'"></mat-icon>
                            </button>
                            <mat-menu #newCellsMenu="matMenu">
                                <!--<button mat-menu-item>Month</button>-->
                                <button mat-menu-item>Last 6 Months</button>
                                <!--<button mat-menu-item>Last Year</button>-->
                            </mat-menu>
                        </div>
                    </div>
                    <div class="flex flex-col items-center mt-2">
                        <div class="text-7xl sm:text-8xl font-bold tracking-tight leading-none text-amber-500">{{data.openedCells}}</div>
                        <div class="text-lg font-medium text-amber-600 dark:text-amber-500">Opened</div>
                        <div class="flex items-center justify-center w-full mt-5 text-secondary">
                            <div class="text-md font-medium truncate">Closed:</div>
                            <div class="ml-1.5 text-lg font-semibold">{{data.closedCells}}</div>
                        </div>
                    </div>
                </div>
                <!-- Features -->
                <div class="flex flex-col flex-auto p-6 bg-card shadow rounded-2xl overflow-hidden">
                    <div class="flex items-start justify-between">
                        <div class="text-lg font-medium tracking-tight leading-6 truncate">Souls Won</div>
                        <div class="ml-2 -mt-2 -mr-3">
                            <button
                                mat-icon-button
                                [matMenuTriggerFor]="featuresMenu">
                                <mat-icon
                                    class="icon-size-5"
                                    [svgIcon]="'heroicons_solid:dots-vertical'"></mat-icon>
                            </button>
                            <mat-menu #featuresMenu="matMenu">
                                <!--<button mat-menu-item>Week</button>-->
                                <!--<button mat-menu-item>Month</button>-->
                                <button mat-menu-item>Last 6 Months</button>
                                <!--<button mat-menu-item>Last Year</button>-->
                            </mat-menu>
                        </div>
                    </div>
                    <div class="flex flex-col items-center mt-2">
                        <div class="text-7xl sm:text-8xl font-bold tracking-tight leading-none text-green-500">38</div>
                        <div class="text-lg font-medium text-green-600 dark:text-green-500">Souls</div>
                        <div class="flex items-center justify-center w-full mt-5 text-secondary">
                            <div class="text-md font-medium truncate">Holy Spirit Filled:</div>
                            <div class="ml-1.5 text-lg font-semibold">29</div>
                        </div>
                    </div>
                </div>
            </div>

        </div>

    </div>

</div>


