<form class="flex flex-col px-4" name="form" [formGroup]="form">

    <div class="font-medium">Personal</div>

    <div class="md:flex flex-0">

        <mat-form-field appearance="outline">
            <mat-label>First Name</mat-label>
            <input matInput formControlName="firstName" required autocomplete="address-level2">
            <mat-icon matSuffix class="secondary-text">account_circle</mat-icon>
            <mat-error>First Name is required!</mat-error>
        </mat-form-field>

        <mat-form-field appearance="outline">
            <mat-label>Middle Name</mat-label>
            <input matInput formControlName="middleName" autocomplete="address-level1">
            <mat-icon matSuffix class="secondary-text">account_circle</mat-icon>
        </mat-form-field>

        <mat-form-field appearance="outline">
            <mat-label>Last name</mat-label>
            <input matInput formControlName="lastName" required>
            <mat-icon matSuffix class="secondary-text">account_circle</mat-icon>
            <mat-error>Last Name is required!</mat-error>
        </mat-form-field>

    </div>

    <div class="md:flex flex-0 items-baseline">

        <cm-gender-field
            [appearance]="'outline'"
            formControlName="gender">
        </cm-gender-field>

        <mat-form-field appearance="outline">
            <mat-label>Age Classification</mat-label>
            <mat-select formControlName="ageClassification" required>
                <mat-option [value]="'Adult'">
                    Adult
                </mat-option>
                <mat-option [value]="'Child'">
                    Child
                </mat-option>
                <mat-option [value]="'Unknown'">
                    Unknown
                </mat-option>
            </mat-select>
        </mat-form-field>

        <mat-checkbox
            formControlName="receivedHolySpirit"
            name="receivedHolySpirit"
            aria-label="Received the Holy Spirit">
                <span>Received Holy Spirit?</span>
        </mat-checkbox>

    </div>

    <cm-birthdate-control formControlName="birthDate"></cm-birthdate-control>

    <!--CONTACT INFO-->
    <div class="font-medium">Contact</div>

    <div class="md:flex flex-0">

        <mat-form-field appearance="outline">
            <mat-label>Phone Number</mat-label>
            <input matInput formControlName="phoneNumber" placeholder="082xxxxxxx" required autocomplete="tel">
            <mat-icon matSuffix class="secondary-text">phone</mat-icon>
            <mat-error>Phone number is required and ensure format is valid</mat-error>
        </mat-form-field>

        <mat-form-field appearance="outline">
            <mat-label>Email Address</mat-label>
            <input matInput formControlName="emailAddress" autocomplete="email">
            <mat-icon matSuffix class="secondary-text">email</mat-icon>
            <mat-error>Please enter valid email address</mat-error>
        </mat-form-field>

    </div>
    <!--CONTACT INFO-->


</form>
