<div class="flex flex-col flex-auto min-w-0">

    <!-- Header -->
    <div class="flex flex-col sm:flex-row flex-0 sm:items-center sm:justify-between p-6 sm:py-8 sm:px-10 border-b bg-card dark:bg-transparent">
        <div class="flex-1 min-w-0">
            <!-- Breadcrumbs -->
            <div class="flex flex-wrap items-center font-medium">
                <div>
                    <a class="whitespace-nowrap text-primary-500">People</a>
                </div>
            </div>
            <!-- Title -->
            <div class="mt-2">
                <h2 class="text-3xl md:text-4xl font-extrabold tracking-tight leading-7 sm:leading-10 truncate">
                    New Family
                </h2>
            </div>
        </div>
    </div>
    <!-- Header -->

    <!-- Main -->
    <div class="flex-auto p-6 sm:p-10">

        <!-- Horizontal stepper -->
        <mat-horizontal-stepper class="p-4 bg-card shadow rounded overflow-hidden" [linear]="true">

            <mat-step [stepControl]="addressFormStep1">

                <form class="flex flex-col" [formGroup]="addressFormStep1">

                    <ng-template matStepLabel>Family Address</ng-template>

                    <cm-address-editor formControlName="address"></cm-address-editor>

                    <div class="flex items-center justify-end border-t -mx-8 mt-8 px-8 py-5 bg-gray-50 dark:bg-gray-700">
                        <button class="px-8 mt-4" mat-raised-button matStepperNext type="button" color="primary">
                            Next
                        </button>
                    </div>

                </form>

            </mat-step>

            <mat-step [stepControl]="familyFormStep2">

                <form fxLayout="column" [formGroup]="familyFormStep2">

                    <ng-template matStepLabel>Family Members</ng-template>

                    <div class="mat-card p-24 mr-24">

                        <div class="h2 mb-24">Family Members</div>

                        <div fxLayout="row" fxLayoutAlign="space-around center">
                            <mat-form-field appearance="outline" fxFlex="50">
                                <mat-label>Family Name</mat-label>
                                <input matInput formControlName="familyName">
                                <mat-icon matSuffix class="secondary-text">account_circle</mat-icon>
                            </mat-form-field>

                            <div fxFlexOffset="20" fxFlex="50">
                                <!-- ADD PERSON BUTTON -->
                                <button mat-fab class="accent" id="add-person-button" (click)="newPerson()" aria-label="add person"
                                        [@zoomIn]="true">
                                    <mat-icon>person_add</mat-icon>
                                </button>
                                <!-- / ADD PERSON BUTTON -->
                            </div>
                        </div>

                        <people-family-members-list [familyMembers]="familyMembers$ | async"></people-family-members-list>

                    </div>

                    <div class="mt-16" fxLayout="row" fxLayoutAlign="center center">
                        <button class="mr-8" mat-raised-button matStepperPrevious type="button" color="accent">
                            Previous
                        </button>
                        <button [disabled]="!familyFormStep2.valid"
                                mat-raised-button type="button" color="accent" (click)="saveFamily()">
                            Save
                        </button>
                    </div>

                </form>

            </mat-step>

        </mat-horizontal-stepper>
        <!-- Horizontal stepper -->

    </div>
    <!-- Main -->

</div>