<div class="dialog-content-wrapper">
    <!-- Header -->
    <div class="flex flex-0 items-center justify-between h-16 p-4  mb-4 bg-primary text-on-primary">
        <div class="text-lg">{{dialogTitle}}</div>
        <button
            mat-icon-button
            (click)="matDialogRef.close()"
            [tabIndex]="-1">
            <mat-icon
                class="text-current"
                [svgIcon]="'heroicons_outline:x'"></mat-icon>
        </button>
    </div>

    <div mat-dialog-content class="p-24 pb-0 m-0" fuseScrollbar>

        <form [formGroup]="form" class="flex flex-col">

            <div class="m-4">
                <div class="font-medium">Connection</div>

                <div class="md:flex">

                    <mat-form-field appearance="outline">
                        <mat-label>Church</mat-label>
                        <mat-select formControlName="church" required>
                            <mat-option [value]="1">
                                Cape Town
                            </mat-option>
                            <mat-option [value]="2">
                                North
                            </mat-option>
                        </mat-select>
                    </mat-form-field>

                    <mat-form-field appearance="outline" fxFlex>
                        <mat-label>Connection Status</mat-label>
                        <mat-select formControlName="connectionStatus" required>
                            <mat-option [value]="'New Convert'">
                                New Convert
                            </mat-option>
                            <mat-option [value]="'First Timer'">
                                First Timer
                            </mat-option>
                            <mat-option [value]="'Member'">
                                Member
                            </mat-option>
                        </mat-select>
                    </mat-form-field>

                </div>

                <div class="md:flex">

                    <mat-form-field appearance="outline">
                        <mat-label>Source</mat-label>
                        <mat-select formControlName="source" required>
                            <mat-option [value]="'Church'">
                                Church
                            </mat-option>
                            <mat-option [value]="'Outreach'">
                                Outreach
                            </mat-option>
                            <mat-option [value]="'Cell'">
                                Cell
                            </mat-option>
                        </mat-select>
                    </mat-form-field>

                    <mat-form-field appearance="outline" fxFlex>
                        <mat-label>First Visit Date</mat-label>
                        <input matInput [matDatepicker]="visitDatePicker" name="firstVisitDate" formControlName="firstVisitDate">
                        <mat-datepicker-toggle matSuffix [for]="visitDatePicker"></mat-datepicker-toggle>
                        <mat-datepicker #visitDatePicker></mat-datepicker>
                    </mat-form-field>

                </div>
            </div>



            <cm-person-editor formControlName="person"></cm-person-editor>

        </form>


    </div>

    <div mat-dialog-actions class="m-0 p-16" fxLayout="row" fxLayoutAlign="end center">

        <button *ngIf="action === 'edit'"
                mat-button
                class="mr-8"
                (click)="matDialogRef.close(['delete',form])"
                aria-label="Delete"
                matTooltip="Delete">
            DELETE
        </button>

        <button *ngIf="action !== 'edit'"
                mat-button
                class="save-button"
                (click)="addPerson()"
                [disabled]="form.invalid"
                aria-label="SAVE">
            ADD
        </button>

        <button *ngIf="action === 'edit'"
                mat-button
                class="save-button"
                (click)="matDialogRef.close(['save',form])"
                [disabled]="form.invalid"
                aria-label="SAVE">
            SAVE
        </button>

    </div>
</div>
