.person-form-dialog {

    max-width: 100% !important;

    /*sm*/
    @media (min-width: 640px) {
        width: 100%;
    }

    /*>= md*/
    @media (min-width: 768px) {
        width: 768px;
    }

    .mat-dialog-container {
        padding: 0;

        .mat-toolbar {
            flex: 1 0 auto;
            min-height: initial;
        }
    }

    .dialog-content-wrapper {
        max-height: 85vh;
        display: flex;
        flex-direction: column;
    }

    .mat-dialog-content {
        padding: 5px !important;
    }

    .mat-expansion-panel-body {
        padding: 0 10px 16px;
    }
}

