<div class="dialog-content-wrapper">
    <!-- Header -->
    <div class="flex flex-0 items-center justify-between h-16 p-4  mb-4 bg-primary text-on-primary">
        <div class="text-lg">{{dialogTitle}}</div>
        <button
            mat-icon-button
            (click)="matDialogRef.close()"
            [tabIndex]="-1">
            <mat-icon
                class="text-current"
                [svgIcon]="'heroicons_outline:x'"></mat-icon>
        </button>
    </div>

    <div mat-dialog-content class="p-24 pb-0 m-0" fuseScrollbar>

        <form [formGroup]="form" class="flex flex-col">

            <div class="m-4">
                <div class="font-medium">Connection</div>

                <div class="md:flex">

                    <mat-form-field appearance="outline">
                        <mat-label>Church</mat-label>
                        <mat-select formControlName="church" required>
                            <mat-option [value]="1">
                                Waterfront
                            </mat-option>
                        </mat-select>
                    </mat-form-field>

                    <mat-form-field appearance="outline">
                        <mat-label>Connection Status</mat-label>
                        <mat-select formControlName="connectionStatus" required>
                            <mat-option [value]="'New Convert'">
                                New Convert
                            </mat-option>
                            <mat-option [value]="'First Timer'">
                                First Timer
                            </mat-option>
                            <mat-option [value]="'Member'">
                                Member
                            </mat-option>
                        </mat-select>
                    </mat-form-field>

                </div>

                <div class="md:flex">

                    <mat-form-field appearance="outline">
                        <mat-label>Source</mat-label>
                        <mat-select formControlName="source" required>
                            <mat-option [value]="'Church'">
                                Church
                            </mat-option>
                            <mat-option [value]="'Outreach'">
                                Outreach
                            </mat-option>
                            <mat-option [value]="'Cell'">
                                Cell
                            </mat-option>
                        </mat-select>
                    </mat-form-field>

                    <mat-form-field appearance="outline">
                        <mat-label>First Visit Date (Optional)</mat-label>
                        <input matInput [matDatepicker]="visitDatePicker" name="firstVisitDate" formControlName="firstVisitDate">
                        <mat-datepicker-toggle matSuffix [for]="visitDatePicker"></mat-datepicker-toggle>
                        <mat-datepicker #visitDatePicker></mat-datepicker>
                    </mat-form-field>

                </div>
            </div>

            <cm-person-editor formControlName="person"></cm-person-editor>

            <div class="m-4 mt-1 w-50">
                <div class="font-medium">Assigned Follow Up (Optional)</div>
                <div class="md:flex">
                    <person-autocomplete-control
                        formControlName="assignedFollowUpPerson"
                        [debug]="false"
                        [required]="false">
                    </person-autocomplete-control>
                </div>
            </div>

        </form>

    </div>


    <!-- Actions -->
    <div class="flex items-center mt-10 py-4 pr-4 pl-1 sm:pr-12 sm:pl-7 border-t bg-gray-50 dark:bg-transparent">

        <!-- Cancel -->
        <button
            class="ml-auto"
            mat-button
            [matTooltip]="'Cancel'"
            (click)="matDialogRef.close()">
            Cancel
        </button>
        <!-- Save -->
        <button
            class="ml-2"
            mat-flat-button
            [color]="'primary'"
            [disabled]="form.invalid"
            [matTooltip]="'Save'"
            (click)="addPerson()">
            Add
        </button>
    </div>
</div>
