<div class="dialog-content-wrapper">
    <!-- Header -->
    <div class="flex flex-0 items-center justify-between h-16 p-4  mb-4 bg-primary text-on-primary">
        <div class="text-lg">{{dialogTitle}}</div>
        <button
            mat-icon-button
            (click)="matDialogRef.close()"
            [tabIndex]="-1">
            <mat-icon
                class="text-current"
                [svgIcon]="'heroicons_outline:x'"></mat-icon>
        </button>
    </div>

    <div mat-dialog-content class="pb-0 m-0" cdkScrollable>

        <form [formGroup]="form">


        </form>

    </div>


    <!-- Actions -->
    <div class="flex items-center mt-10 py-4 pr-4 pl-1 sm:pr-12 sm:pl-7 border-t bg-gray-50 dark:bg-transparent">
        <!-- Cancel -->
        <button
            class="ml-auto"
            mat-button
            [matTooltip]="'Cancel'"
            (click)="matDialogRef.close()">
            Cancel
        </button>
        <!-- Save -->
        <button *ngIf="action === 'edit'"
                class="ml-2"
                mat-flat-button
                [color]="'primary'"
                [disabled]="form.invalid || !form.touched"
                [matTooltip]="'Save'"
                aria-label="Save"
                (click)="matDialogRef.close(['save',form])">
            Save
        </button>
    </div>


</div>
