<!--Search input-->
<mat-form-field>
    <input matInput
           [matAutocomplete]="auto"
           matAutocompletePosition="below"
           [formControl]="inputControl"
           [placeholder]="'Search person...'"
           [required]="required"
           (blur)="onTouched()"
           (keydown)="onKeydown($event)"/>
    <mat-icon matSuffix>search</mat-icon>
    <mat-error *ngIf="!inputControl.valid && inputControl.errors?.required">
        This field is required
    </mat-error>
</mat-form-field>

<!-- Autocompletion-->
<mat-autocomplete #auto [displayWith]="displayFn">

    <mat-option *ngIf="isSearching" value="" disabled="true">
        <em>Searching...</em>
    </mat-option>

    <!-- Main server side options -->
    <div *ngIf="searchResults$ | async as searchResults">
        <mat-option *ngFor="let result of searchResults" [value]="result" class="provided">
            <div class="flex items-center">
                <div class="text-sm">{{result.label}}</div>
                <div class="flex flex-shrink-0 items-center justify-center w-6 h-6 ml-auto rounded-full overflow-hidden bg-primary-100 dark:bg-black dark:bg-opacity-5">
                    <img
                        *ngIf="result.photoUrl"
                        [src]="result.photoUrl">
                    <mat-icon
                        class="m-0 icon-size-5 text-primary"
                        *ngIf="!result.photoUrl"
                        [svgIcon]="'heroicons_outline:user-circle'"></mat-icon>
                </div>
            </div>
        </mat-option>
    </div>

    <mat-option *ngIf="!isSearching && noResults" value="" disabled="true">
        <b>No results found</b>
    </mat-option>

</mat-autocomplete>