<div class="md:p-8  flex-1" fuseScrollbar>

    <!-- CONTENT -->
    <div>
        <mat-table
                   [dataSource]="dataSource"
                   [@zoomIn]="dataSource.loading$">

            <!-- Name Column -->
            <ng-container matColumnDef="name">
                <mat-header-cell *matHeaderCellDef>Name</mat-header-cell>
                <mat-cell *matCellDef="let row">
                    <p class="text-truncate font-weight-600">{{row.name}}</p>
                </mat-cell>
            </ng-container>

            <!-- Description Column -->
            <ng-container matColumnDef="description">
                <mat-header-cell *matHeaderCellDef>Description</mat-header-cell>
                <mat-cell *matCellDef="let row">
                    <p class="text-truncate">{{row.description}}</p>
                </mat-cell>
            </ng-container>

            <!-- Description Column -->
            <ng-container matColumnDef="membersCount">
                <mat-header-cell *matHeaderCellDef>Members</mat-header-cell>
                <mat-cell *matCellDef="let row">
                    <p class="text-truncate">{{row.membersCount}}</p>
                </mat-cell>
            </ng-container>

            <!-- Buttons Column -->
            <ng-container matColumnDef="buttons">
                <mat-header-cell *matHeaderCellDef></mat-header-cell>
                <mat-cell *matCellDef="let group">
                    <div class="flex items-center">
                        <button mat-icon-button [matMenuTriggerFor]="moreMenu" aria-label="More"
                                (click)="$event.stopPropagation();">
                            <mat-icon class="secondary-text">more_vert</mat-icon>
                        </button>

                        <mat-menu #moreMenu="matMenu">
                            <button mat-menu-item aria-label="manage" [routerLink]="['/apps/groups', group.groupId]">
                                <mat-icon>settings</mat-icon>
                                <span>Manage</span>
                            </button>
                            <button *ngIf="group.takesAttendance" mat-menu-item aria-label="attendance" (click)="takeAttendance(group)">
                                <mat-icon>check_box</mat-icon>
                                <span>Take Attendance</span>
                            </button>
                            <button *ngIf="group.takesAttendance" mat-menu-item aria-label="view attendance"
                                    [routerLink]="['/apps/groups/cell-ministry/attendance-reports']"
                                    [queryParams]="{groupId: group.groupId}">
                                <mat-icon>list</mat-icon>
                                <span>View Attendance Records</span>
                            </button>
                            <button mat-menu-item aria-label="remove" (click)="delete(group)">
                                <mat-icon>delete</mat-icon>
                                <span>Remove</span>
                            </button>
                        </mat-menu>
                    </div>

                </mat-cell>
            </ng-container>


            <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
            <mat-row *matRowDef="let row; columns: displayedColumns;"
                     class="group"
                     [@fadeIn]="displayedColumns">
            </mat-row>
        </mat-table>
    </div>
    <!-- CONTENT -->
    <mat-paginator *ngIf="dataSource.page$ | async as page"
                   [length]="page.totalResults"
                   [pageSize]="10"
                   [pageIndex]="0"
                   (page)="dataSource.fetch($event.pageIndex)">
    </mat-paginator>

</div>



<!-- / CONTENT -->


<!-- SEARCH -->
<!--<div class="search-wrapper mt-16 mt-sm-0">
    <div class="search" fxFlex fxLayout="row" fxLayoutAlign="start center">
        <mat-icon>search</mat-icon>
        <input [formControl]="searchInput" placeholder="Search for a contact">
    </div>
</div>-->
<!-- / SEARCH -->

<!---->


