<div *ngIf="profile$ | async as profile">

    <!-- Main -->
    <div class="grid md:grid-cols-3">

        <!-- Column 1 -->
        <div class="md:col-span-1">
            <fuse-card class="flex flex-col max-w-80 w-full p-8 m-8">
                <div class="flex items-center justify-between">
                    <div class="text-2xl font-semibold leading-tight">General</div>
                    <div class="-mr-3">
                        <button
                            mat-icon-button
                            [matMenuTriggerFor]="generalActionsMenu">
                            <mat-icon
                                class="icon-size-5"
                                [svgIcon]="'heroicons_solid:dots-vertical'"></mat-icon>
                        </button>
                        <mat-menu #generalActionsMenu="matMenu">
                            <button mat-menu-item (click)="onEditGeneralInfo()">
                                <mat-icon>edit</mat-icon>
                                <span>Edit</span>
                            </button>
                        </mat-menu>
                    </div>
                </div>
                <div class="mt-4">
                    <div class="flex flex-col">
                        <div class="flex items-center">
                            <mat-icon
                                class="icon-size-5 mr-3"
                                [svgIcon]="'heroicons_solid:briefcase'"></mat-icon>
                            <span class="leading-none">{{profile.occupation}}</span>
                        </div>
                        <div *ngIf="profile.maritalStatus" class="flex items-center mt-4">
                            <mat-icon
                                class="icon-size-5 mr-3"
                                [svgIcon]="'heroicons_solid:users'"></mat-icon>
                            <span class="leading-none">{{profile.maritalStatus}}
                            <span class="mat-caption" *ngIf="profile.maritalStatus === 'Married' && profile.anniversaryDate">
                              ({{profile.anniversaryDate | date}})
                            </span>
                        </span>

                        </div>
                        <div class="flex items-center mt-4">
                            <mat-icon
                                class="icon-size-5 mr-3"
                                [svgIcon]="'heroicons_solid:cake'"></mat-icon>
                            <span class="leading-none">{{profile.birthDate?.birthDay}}/{{profile.birthDate?.birthMonth}}/{{profile.birthDate?.birthYear}}</span>
                        </div>
                        <hr class="w-full border-t my-6">

                        <!-- Phone -->
                        <ng-container *ngIf="profile.phoneNumbers.length">
                            <div class="flex">
                                <mat-icon [svgIcon]="'heroicons_solid:phone'"></mat-icon>
                                <div class="min-w-0 ml-6 space-y-1">
                                    <ng-container *ngFor="let phoneNumber of profile.phoneNumbers">
                                        <div class="flex items-center leading-6">
                                            <div class="sm:ml-3 font-mono">{{phoneNumber.countryCode}}</div>
                                            <div class="ml-2.5 font-mono">{{phoneNumber.number}}</div>
                                            <div
                                                class="text-md truncate text-secondary"
                                                *ngIf="phoneNumber.description">
                                                <span class="mx-2">&bull;</span>
                                                <span class="font-medium">{{phoneNumber.description}}</span>
                                            </div>
                                        </div>
                                    </ng-container>
                                </div>
                            </div>
                        </ng-container>

                        <!-- Emails -->
                        <ng-container *ngIf="profile.email">
                            <div class="flex mt-4">
                                <mat-icon [svgIcon]="'heroicons_solid:mail'"></mat-icon>
                                <div class="min-w-0 ml-6 space-y-1">
                                    <div class="flex items-center leading-6">
                                        <a class="text-blue-800" [href]="'mailto:' + profile.email?.address">{{profile.email?.address}}</a>
                                    </div>
                                </div>
                            </div>
                        </ng-container>

                    </div>
                </div>
            </fuse-card>

            <fuse-card class="flex flex-col max-w-80 w-full mt-8 p-8 pt-6 m-8">
                <div class="flex items-center justify-between">
                    <div class="text-2xl font-semibold leading-tight">Family</div>
                    <div class="-mr-3">
                        <button
                            mat-icon-button
                            [matMenuTriggerFor]="familyActionMenu">
                            <mat-icon
                                class="icon-size-5"
                                [svgIcon]="'heroicons_solid:dots-vertical'"></mat-icon>
                        </button>
                        <mat-menu #familyActionMenu="matMenu">
                            <button mat-menu-item>Edit</button>
                        </mat-menu>
                    </div>
                </div>
                <div class="flex flex-col">
                    <div class="flex justify-between mt-6">
                        <img *ngFor="let member of profile.familyMembers"
                             [routerLink]="['/pages/profile', member.personId]"
                             matTooltip="{{member.fullName.firstName}} ({{member.ageClassification}})"
                             class="w-14 h-14 rounded-full cursor-pointer"
                             [src]="member.photoUrl"
                             alt="Family member">
                    </div>
                </div>
            </fuse-card>
        </div>
        <!-- Column 1 -->

        <!-- Column 2 -->
        <main class="md:col-span-2">
            <div>
                <!-- General info -->
                <fuse-card class="flex flex-col p-8 m-8 ">

                    <div class="flex items-center justify-between">
                        <div class="text-2xl font-semibold leading-tight">Personal</div>
                        <div class="-mr-3">
                            <button
                                mat-icon-button
                                [matMenuTriggerFor]="personalActionsMenu">
                                <mat-icon
                                    class="icon-size-5"
                                    [svgIcon]="'heroicons_solid:dots-vertical'"></mat-icon>
                            </button>
                            <mat-menu #personalActionsMenu="matMenu">
                                <button mat-menu-item (click)="onEditPersonalInfo()">
                                    <mat-icon>edit</mat-icon>
                                    <span>Edit</span>
                                </button>
                            </mat-menu>
                        </div>
                    </div>

                    <div class="text-gray-700">
                        <div class="grid md:grid-cols-2">
                            <div class="grid grid-cols-2">
                                <div class="px-4 py-2 font-semibold">First Name</div>
                                <div class="px-4 py-2">{{profile.fullName.firstName}}</div>
                            </div>
                            <div class="grid grid-cols-2">
                                <div class="px-4 py-2 font-semibold">Last Name</div>
                                <div class="px-4 py-2">{{profile.fullName.lastName}}</div>
                            </div>
                            <div class="grid grid-cols-2">
                                <div class="px-4 py-2 font-semibold">Gender</div>
                                <div class="px-4 py-2">{{profile.gender}}</div>
                            </div>
                            <div class="grid grid-cols-2">
                                <div class="px-4 py-2 font-semibold">Age Classification</div>
                                <div class="px-4 py-2">{{profile.ageClassification}}</div>
                            </div>
                        </div>
                    </div>
                </fuse-card>
                <!-- General info -->

                <!-- Connection info -->
                <fuse-card class="flex flex-col p-8 m-8 ">

                    <div class="flex items-center justify-between">
                        <div class="text-2xl font-semibold leading-tight">Connection</div>
                        <div class="-mr-3">
                            <button
                                mat-icon-button
                                [matMenuTriggerFor]="connectionActionsMenu">
                                <mat-icon
                                    class="icon-size-5"
                                    [svgIcon]="'heroicons_solid:dots-vertical'"></mat-icon>
                            </button>
                            <mat-menu #connectionActionsMenu="matMenu">
                                <button mat-menu-item (click)="onEditConnectionsInfo()">
                                    <mat-icon>edit</mat-icon>
                                    <span>Edit</span>
                                </button>
                            </mat-menu>
                        </div>
                    </div>

                    <div class="text-gray-700">
                        <div class="grid md:grid-cols-2">
                            <div class="grid grid-cols-2">
                                <div class="px-4 py-2 font-semibold">Church</div>
                                <div class="px-4 py-2">{{profile.church.name}}</div>
                            </div>
                            <div class="grid grid-cols-2">
                                <div class="px-4 py-2 font-semibold">Connection Status</div>
                                <div class="px-4 py-2">{{profile.connectionStatus}}</div>
                            </div>
                            <div class="grid grid-cols-2">
                                <div class="px-4 py-2 font-semibold">Source</div>
                                <div class="px-4 py-2">{{profile.source}}</div>
                            </div>
                            <div class="grid grid-cols-2">
                                <div class="px-4 py-2 font-semibold">First Visit Date</div>
                                <div class="px-4 py-2">{{profile.firstVisitDate | date}}</div>
                            </div>
                        </div>
                    </div>
                </fuse-card>
                <!-- Connection info -->

                <!-- Discipleship info -->
                <fuse-card class="flex flex-col p-8 m-8 ">

                    <div class="flex items-center justify-between">
                        <div class="text-2xl font-semibold leading-tight">Discipleship</div>
                        <div class="-mr-3">
                            <button
                                mat-icon-button
                                [matMenuTriggerFor]="discipleshipActionsMenu">
                                <mat-icon
                                    class="icon-size-5"
                                    [svgIcon]="'heroicons_solid:dots-vertical'"></mat-icon>
                            </button>
                            <mat-menu #discipleshipActionsMenu="matMenu">
                                <button mat-menu-item>
                                    <mat-icon>edit</mat-icon>
                                    <span>Edit</span>
                                </button>
                            </mat-menu>
                        </div>
                    </div>

                    <div class="text-gray-700">
                        <div class="grid md:grid-cols-2">
                            <div class="grid grid-cols-2">
                                <div class="px-4 py-2 font-semibold">Baptised</div>
                                <div class="px-4 py-2">{{profile.baptismStatus?.isBaptised ? 'Yes' : 'No'}}</div>
                            </div>
                            <div class="grid grid-cols-2">
                                <div class="px-4 py-2 font-semibold">Baptism Date</div>
                                <div class="px-4 py-2">{{profile.baptismStatus?.baptismDate | date}}</div>
                            </div>
                            <div class="grid grid-cols-2">
                                <div class="px-4 py-2 font-semibold">Received Holy Spirit</div>
                                <div class="px-4 py-2">{{profile.receivedHolySpirit ? 'Yes' : 'No'}}</div>
                            </div>
                            <div class="grid grid-cols-2">
                                <div class="px-4 py-2 font-semibold">Foundation School</div>
                                <div class="px-4 py-2">{{profile.foundationSchool.isCompleted ? 'Yes' : 'No'}}
                                    <span class="mat-caption" *ngIf="profile.foundationSchool.isCompleted && profile.foundationSchool.completionDate">
                                      ({{profile.foundationSchool.completionDate | date}})
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                </fuse-card>
                <!-- Discipleship info -->

            </div>
        </main>
        <!-- Column 2 -->

    </div>
    <!-- Main -->

</div>