<div class="dialog-content-wrapper">
    <!-- Header -->
    <div class="flex flex-0 items-center justify-between h-16 p-4  mb-4 bg-primary text-on-primary">
        <div class="text-lg">Attendance Record</div>
        <div class="text-sm"> {{group.name}}</div>
        <button
            mat-icon-button
            (click)="matDialogRef.close()"
            [tabIndex]="-1">
            <mat-icon
                class="text-current"
                [svgIcon]="'heroicons_outline:x'"></mat-icon>
        </button>
    </div>

    <div mat-dialog-content class="p-24 pb-0 m-0" cdkScrollable>

        <form [formGroup]="form">

            <!--Meeting Date-->
            <div class="flex flex-row items-start justify-start space-x-4">
                <mat-form-field appearance="outline">
                    <mat-label>Attendance Date</mat-label>
                    <input matInput [matDatepicker]="meetingDatePicker" name="date" formControlName="attendanceDate">
                    <mat-datepicker-toggle matSuffix [for]="meetingDatePicker"></mat-datepicker-toggle>
                    <mat-datepicker #meetingDatePicker></mat-datepicker>
                </mat-form-field>

                <mat-checkbox formControlName="didNotOccur">
                    Did Not Occur
                </mat-checkbox>
            </div>

            <div *ngIf="(didNotOccur$ | async) !== true">
                <!--Attendance-->
                <mat-accordion class="group-attendance">

                    <mat-expansion-panel>
                        <mat-expansion-panel-header>
                            <mat-panel-title>Members Attendance</mat-panel-title>
                        </mat-expansion-panel-header>
                        <ng-container formArrayName="members">

                            <table>
                                <thead>
                                <tr>
                                    <th>Name</th>
                                    <th class="text-right">Did Attend</th>
                                    <th class="text-right">New Convert</th>
                                    <th class="text-right">Holy Spirit</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr *ngFor="let service of groupMembersFormArray.controls; index as i">
                                    <ng-container [formGroupName]="i">
                                        <td>
                                            <input formControlName="groupMemberName" readonly />
                                        </td>
                                        <td class="text-right">
                                            <mat-checkbox formControlName="groupMemberDidAttend"></mat-checkbox>
                                        </td>
                                        <td class="text-right">
                                            <mat-checkbox formControlName="newConvert"></mat-checkbox>
                                        </td>
                                        <td class="text-right">
                                            <mat-checkbox formControlName="receivedHolySpirit"></mat-checkbox>
                                        </td>
                                    </ng-container>
                                </tr>
                                </tbody>
                            </table>

                        </ng-container>
                    </mat-expansion-panel>

                    <mat-expansion-panel>
                        <mat-expansion-panel-header>
                            <mat-panel-title>First Timers</mat-panel-title>
                        </mat-expansion-panel-header>

                        <!-- ADD FIRST TIMER BUTTON -->
                        <button mat-mini-fab class="bg-primary" id="add-contact-button"
                                (click)="addFirstTimerControl()"
                                aria-label="add first timer"
                                [disabled]="!firstTimersFormArray.valid"
                                [@fadeIn]="true">
                            <mat-icon>person_add</mat-icon>
                        </button>
                        <!-- / ADD FIRST TIMER BUTTON -->

                        <ng-container class="flex flex-col" formArrayName="firstTimers">
                                <div *ngFor="let _ of firstTimersFormArray.controls; index as i">
                                    <ng-container [formGroupName]="i">
                                        <div class="mx-3 flex mt-4">
                                            <input matInput formControlName="firstName" placeholder="First Name" required>
                                            <input matInput formControlName="lastName" placeholder="Last Name" required>
                                            <mat-checkbox formControlName="newConvert">New Convert</mat-checkbox>
                                            <mat-checkbox formControlName="newConvert">Holy Spirit</mat-checkbox>
                                        </div>

                                        <div class="mx-3 flex items-center">
                                            <cm-gender-field formControlName="gender" [showLabel]="true"></cm-gender-field>

                                            <mat-form-field appearance="standard">
                                                <input matInput formControlName="phoneNumber" placeholder="0821111234" required>
                                                <mat-error *ngIf="firstTimersFormArray.controls[i].get('phoneNumber').hasError('pattern')">
                                                    Please enter valid phone number
                                                </mat-error>
                                            </mat-form-field>
                                        </div>

                                        <!-- Delete First Timer -->
                                        <button mat-button (click)="removeFirstTimerControl(i)">
                                            <mat-icon class="s-20" color="bg-primary">delete</mat-icon>
                                        </button>
                                    </ng-container>
                                </div>

                        </ng-container>

                    </mat-expansion-panel>

                </mat-accordion>

                <!-- Notes -->
                <div class="mt-8">
                    <mat-form-field class="fuse-mat-textarea fuse-mat-no-subscript w-full">
                        <mat-label>Notes</mat-label>
                        <textarea
                            class="leading-relaxed"
                            matInput
                            fuseAutogrow
                            formControlName="note"
                            [spellcheck]="false"></textarea>
                    </mat-form-field>
                </div>
            </div>

        </form>

        <!--{{form.value | json}}-->

    </div>


    <!-- Actions -->
    <div class="flex items-center mt-10 py-4 pr-4 pl-1 sm:pr-12 sm:pl-7 border-t bg-gray-50 dark:bg-transparent">
        <!-- Cancel -->
        <button
            class="ml-auto"
            mat-button
            [matTooltip]="'Cancel'"
            (click)="matDialogRef.close()">
            Cancel
        </button>
        <!-- Save -->
        <button
            class="ml-2"
            mat-flat-button
            [color]="'primary'"
            [disabled]="!form.valid"
            [matTooltip]="'Save'"
            (click)="save()">
            Save
        </button>
    </div>

</div>
