.group-attendance-form-dialog {

    max-width: 100% !important;

    /*sm*/
    @media (min-width: 640px) {
        width: 100%;
        height: 100%;
    }

    /*>= md*/
    @media (min-width: 768px) {
        width: 650px;
        height: 80vh;
    }

    input {
        padding: 0;
    }

    .mat-dialog-container {
        padding: 0;
        overflow-y: hidden;
    }

    .dialog-content-wrapper {
        max-height: 85vh;
        //height: 55vh;
        display: flex;
        flex-direction: column;
    }

    .mat-dialog-content {
        padding: 5px !important;
    }

    .mat-expansion-panel-body {
        padding: 0 10px 16px;
    }

    table {
        border-spacing: 0 !important;
    }

}

