<div *ngIf="profile$ | async as profile" class="flex flex-col flex-auto min-w-0">

    <!-- Header -->
    <div class="flex flex-col shadow bg-card">

        <!-- Cover image -->
        <div>
            <img
                class="h-40 lg:h-80 object-cover"
                src="assets/images/backgrounds/dark-material-bg.jpg"
                alt="Cover image">
        </div>

        <!-- User info -->
        <div class="flex flex-col flex-0 lg:flex-row items-center max-w-5xl w-full mx-auto px-8 lg:h-18 bg-card">

            <!-- Avatar -->
            <div class="-mt-26 lg:-mt-22 rounded-full">
                <img
                    class="w-32 h-32 rounded-full ring-4 ring-bg-card"
                    src="assets/images/avatars/brian-hughes.jpg"
                    alt="User avatar">
            </div>

            <!-- Details -->
            <div class="flex flex-col items-center lg:items-start mt-4 lg:mt-0 lg:ml-8">
                <div class="text-lg font-bold leading-none">Brian Hughes</div>
                <div class="text-secondary">London, UK</div>
            </div>

            <!-- Separator -->
            <div class="hidden lg:flex h-8 mx-8 border-l-2"></div>

            <!-- Stats -->
            <div class="flex items-center mt-6 lg:mt-0 space-x-6">
                <div class="flex flex-col items-center">
                    <span class="font-bold">200k</span>
                    <span class="text-sm font-medium text-secondary">FOLLOWERS</span>
                </div>
                <div class="flex flex-col items-center">
                    <span class="font-bold">1.2k</span>
                    <span class="text-sm font-medium text-secondary">FOLLOWING</span>
                </div>
            </div>

            <!-- Menu -->
            <div class="flex items-center mt-8 mb-4 lg:m-0 lg:ml-auto space-x-6">
                <a
                    class="font-medium"
                    [routerLink]="['./']">
                    Home
                </a>
                <a
                    class="text-secondary"
                    [routerLink]="['./']">
                    Groups
                </a>
                <a
                    class="text-secondary"
                    [routerLink]="['./']">
                    Discipleship
                </a>
                <!--                <a
                                    class="text-secondary"
                                    [routerLink]="['./']">
                                    Gallery
                                </a>-->
            </div>

        </div>

    </div>

    <!-- Main -->
    <div class="grid md:grid-cols-3">

        <!-- Column 1 -->
        <div class="md:col-span-1">
            <fuse-card class="flex flex-col max-w-80 w-full p-8 m-8">
                <div class="text-2xl font-semibold leading-tight">General</div>

                <div class="mt-4">
                    <mat-icon
                        class="icon-size-5 mr-3"
                        [svgIcon]="'heroicons_solid:briefcase'"></mat-icon>
                    <span class="leading-none">ACME Corp. Lead UX Designer</span>
                </div>

                <hr class="w-full border-t my-6">
                <div class="flex flex-col">
                    <div class="flex items-center">
                        <mat-icon
                            class="icon-size-5 mr-3"
                            [svgIcon]="'heroicons_solid:location-marker'"></mat-icon>
                        <span class="leading-none">London, UK</span>
                    </div>
                    <div class="flex items-center mt-4">
                        <mat-icon
                            class="icon-size-5 mr-3"
                            [svgIcon]="'heroicons_solid:briefcase'"></mat-icon>
                        <span class="leading-none">ACME Corp. Lead UX Designer</span>
                    </div>
                    <div class="flex items-center mt-4">
                        <mat-icon
                            class="icon-size-5 mr-3"
                            [svgIcon]="'heroicons_solid:cake'"></mat-icon>
                        <span class="leading-none">April, 24</span>
                    </div>
                </div>

                <!-- ACTIONS -->
                <div class="flex justify-end">
                    <button
                        class="px-3"
                        mat-button
                        [color]="'primary'"
                        [routerLink]="['./']">
                        Follow
                    </button>
                    <button
                        class="px-3"
                        mat-button
                        [color]="'primary'"
                        [routerLink]="['./']">
                        Action
                    </button>
                </div>
                <!-- ACTIONS -->

            </fuse-card>
            <fuse-card class="flex flex-col max-w-80 w-full mt-8 px-8 pt-6 m-8">
                <div class="flex items-center justify-between">
                    <div class="text-2xl font-semibold leading-tight">Family</div>
                    <div class="-mr-3">
                        <button
                            mat-icon-button
                            [matMenuTriggerFor]="listCard08Menu">
                            <mat-icon
                                class="icon-size-5"
                                [svgIcon]="'heroicons_solid:dots-vertical'"></mat-icon>
                        </button>
                        <mat-menu #listCard08Menu="matMenu">
                            <button mat-menu-item>Update Family</button>
                        </mat-menu>
                    </div>
                </div>
                <div class="flex flex-col">
                    <div class="flex justify-between mt-6">
                        <img
                            class="w-14 h-14 rounded-full"
                            src="assets/images/avatars/female-01.jpg"
                            alt="Card cover image">
                        <img
                            class="w-14 h-14 rounded-full"
                            src="assets/images/avatars/male-01.jpg"
                            alt="Card cover image">
                        <img
                            class="w-14 h-14 rounded-full"
                            src="assets/images/avatars/male-02.jpg"
                            alt="Card cover image">
                        <img
                            class="w-14 h-14 rounded-full"
                            src="assets/images/avatars/female-02.jpg"
                            alt="Card cover image">
                    </div>
                    <div class="flex justify-between mt-3">
                        <img
                            class="w-14 h-14 rounded-full"
                            src="assets/images/avatars/female-03.jpg"
                            alt="Card cover image">
                        <img
                            class="w-14 h-14 rounded-full"
                            src="assets/images/avatars/female-04.jpg"
                            alt="Card cover image">
                        <img
                            class="w-14 h-14 rounded-full"
                            src="assets/images/avatars/male-03.jpg"
                            alt="Card cover image">
                        <img
                            class="w-14 h-14 rounded-full"
                            src="assets/images/avatars/male-04.jpg"
                            alt="Card cover image">
                    </div>
                </div>
                <div class="flex items-center mt-6 -mx-3">
                    <button
                        class="px-3"
                        mat-button
                        [color]="'primary'"
                        [routerLink]="['./']">
                        See all followers
                    </button>
                </div>
            </fuse-card>
        </div>
        <!-- Column 1 -->

        <!-- Column 2 -->
        <main class="md:col-span-2">
                <div>
                    <!-- cards go here -->
                    <fuse-card class="p-8 m-8">
                        <div class="text-2xl font-semibold leading-tight">General</div>
                    </fuse-card>

                    <fuse-card class="p-8 m-8">
                        <div class="text-2xl font-semibold leading-tight">General</div>
                    </fuse-card>

                    <fuse-card class="p-8 m-8">
                        <div class="text-2xl font-semibold leading-tight">General</div>
                    </fuse-card>
                </div>
        </main>
        <!-- Column 2 -->

    </div>
    <!-- Main -->
    
</div>


