<div *ngIf="profile$ | async as profile" class="flex flex-col flex-auto min-w-0">

    <!-- Header -->
    <div class="flex flex-col shadow bg-card">

        <!-- Cover image -->
        <div>
            <img
                class="h-40 lg:h-80 object-cover"
                src="assets/images/pages/profile/profile-mountain.jpg"
                alt="Cover image">
        </div>

        <!-- User info -->
        <div class="flex flex-col flex-0 lg:flex-row items-center max-w-5xl w-full mx-auto px-8 lg:h-18 bg-card">

            <!-- Avatar -->
            <div class="-mt-26 lg:-mt-22 rounded-full">
                <img
                    class="w-32 h-32 rounded-full ring-4 ring-bg-card"
                    [src]="profile.photoUrl"
                    alt="User avatar">
            </div>

            <!-- Details -->
            <div class="flex flex-col items-center lg:items-start mt-4 lg:mt-0 lg:ml-8">
                <div class="text-lg font-bold leading-none">{{profile.fullName.firstName}} {{profile.fullName.middleName}} {{profile.fullName.lastName}}</div>
                <div class="text-secondary">{{profile.ageClassification}}, {{profile.gender}}</div>
            </div>

            <!-- Separator -->
            <div class="hidden lg:flex h-8 mx-8 border-l-2"></div>

            <!-- Stats -->
            <div class="flex items-center mt-6 lg:mt-0 space-x-6">
                <div class="flex flex-col items-center">
                    <span class="font-bold">Status</span>
                    <span class="text-sm font-medium text-secondary">{{profile.connectionStatus}}</span>
                </div>
                <div class="flex flex-col items-center">
                    <span class="font-bold">Church</span>
                    <span class="text-sm font-medium text-secondary">{{profile.church.name}}</span>
                </div>
            </div>

            <!-- Menu -->
            <div class="flex items-center mt-8 mb-4 lg:m-0 lg:ml-auto space-x-6">
                <a
                    class="font-medium"
                    [routerLink]="['./']">
                    Home
                </a>
                <a
                    class="text-secondary"
                    [routerLink]="['./']">
                    Groups
                </a>
                <a
                    class="text-secondary"
                    [routerLink]="['./']">
                    Discipleship
                </a>
                <!--                <a
                                    class="text-secondary"
                                    [routerLink]="['./']">
                                    Gallery
                                </a>-->
            </div>

        </div>

    </div>

    <!-- Main -->
    <div class="grid md:grid-cols-3">

        <!-- Column 1 -->
        <div class="md:col-span-1">
            <fuse-card class="flex flex-col max-w-80 w-full p-8 m-8">
                <div class="flex items-center justify-between">
                    <div class="text-2xl font-semibold leading-tight">General</div>
                    <div class="-mr-3">
                        <button
                            mat-icon-button
                            [matMenuTriggerFor]="generalActionsMenu">
                            <mat-icon
                                class="icon-size-5"
                                [svgIcon]="'heroicons_solid:dots-vertical'"></mat-icon>
                        </button>
                        <mat-menu #generalActionsMenu="matMenu">
                            <button mat-menu-item>
                                <mat-icon>edit</mat-icon>
                                <span>Edit</span>
                            </button>
                        </mat-menu>
                    </div>
                </div>
                <div class="mt-4 ">
                    <div class="flex flex-col">
                    <div class="flex items-center">
                        <mat-icon
                            class="icon-size-5 mr-3"
                            [svgIcon]="'heroicons_solid:briefcase'"></mat-icon>
                        <span class="leading-none">{{profile.occupation}}</span>
                    </div>
                    <div *ngIf="profile.maritalStatus" class="flex items-center mt-4">
                        <mat-icon
                            class="icon-size-5 mr-3"
                            [svgIcon]="'heroicons_solid:users'"></mat-icon>
                        <span class="leading-none">{{profile.maritalStatus}}
                            <span class="mat-caption" *ngIf="profile.maritalStatus === 'Married' && profile.anniversaryDate">
                                ({{profile.anniversaryDate | date}})
                            </span>
                        </span>

                    </div>
                    <div class="flex items-center mt-4">
                        <mat-icon
                            class="icon-size-5 mr-3"
                            [svgIcon]="'heroicons_solid:cake'"></mat-icon>
                        <span class="leading-none">{{profile.birthDate?.birthDay}}/{{profile.birthDate?.birthMonth}}/{{profile.birthDate?.birthYear}}</span>
                    </div>
                </div>
                </div>
            </fuse-card>

            <fuse-card class="flex flex-col max-w-80 w-full mt-8 px-8 pt-6 m-8">
                <div class="flex items-center justify-between">
                    <div class="text-2xl font-semibold leading-tight">Family</div>
                    <div class="-mr-3">
                        <button
                            mat-icon-button
                            [matMenuTriggerFor]="listCard08Menu">
                            <mat-icon
                                class="icon-size-5"
                                [svgIcon]="'heroicons_solid:dots-vertical'"></mat-icon>
                        </button>
                        <mat-menu #listCard08Menu="matMenu">
                            <button mat-menu-item>Update Family</button>
                        </mat-menu>
                    </div>
                </div>
                <div class="flex flex-col">
                    <div class="flex justify-between mt-6">
                        <img
                            class="w-14 h-14 rounded-full"
                            src="assets/images/avatars/female-01.jpg"
                            alt="Card cover image">
                        <img
                            class="w-14 h-14 rounded-full"
                            src="assets/images/avatars/male-01.jpg"
                            alt="Card cover image">
                        <img
                            class="w-14 h-14 rounded-full"
                            src="assets/images/avatars/male-02.jpg"
                            alt="Card cover image">
                        <img
                            class="w-14 h-14 rounded-full"
                            src="assets/images/avatars/female-02.jpg"
                            alt="Card cover image">
                    </div>
                    <div class="flex justify-between mt-3">
                        <img
                            class="w-14 h-14 rounded-full"
                            src="assets/images/avatars/female-03.jpg"
                            alt="Card cover image">
                        <img
                            class="w-14 h-14 rounded-full"
                            src="assets/images/avatars/female-04.jpg"
                            alt="Card cover image">
                        <img
                            class="w-14 h-14 rounded-full"
                            src="assets/images/avatars/male-03.jpg"
                            alt="Card cover image">
                        <img
                            class="w-14 h-14 rounded-full"
                            src="assets/images/avatars/male-04.jpg"
                            alt="Card cover image">
                    </div>
                </div>
                <div class="flex items-center mt-6 -mx-3">
                    <button
                        class="px-3"
                        mat-button
                        [color]="'primary'"
                        [routerLink]="['./']">
                        See all followers
                    </button>
                </div>
            </fuse-card>
        </div>
        <!-- Column 1 -->

        <!-- Column 2 -->
        <main class="md:col-span-2">
                <div>
                    <!-- cards go here -->
                    <fuse-card class="flex flex-col p-8 m-8 ">

                        <div class="flex items-center justify-between">
                            <div class="text-2xl font-semibold leading-tight">General</div>
                            <div class="-mr-3">
                                <button
                                    mat-icon-button
                                    [matMenuTriggerFor]="generalActionsMenu">
                                    <mat-icon
                                        class="icon-size-5"
                                        [svgIcon]="'heroicons_solid:dots-vertical'"></mat-icon>
                                </button>
                                <mat-menu #generalActionsMenu="matMenu">
                                    <button mat-menu-item>
                                        <mat-icon>edit</mat-icon>
                                        <span>Edit</span>
                                    </button>
                                </mat-menu>
                            </div>
                        </div>

                        <div class="text-gray-700">
                            <div class="grid md:grid-cols-2">
                                <div class="grid grid-cols-2">
                                    <div class="px-4 py-2 font-semibold">First Name</div>
                                    <div class="px-4 py-2">Jane</div>
                                </div>
                                <div class="grid grid-cols-2">
                                    <div class="px-4 py-2 font-semibold">Last Name</div>
                                    <div class="px-4 py-2">Doe</div>
                                </div>
                                <div class="grid grid-cols-2">
                                    <div class="px-4 py-2 font-semibold">Gender</div>
                                    <div class="px-4 py-2">Female</div>
                                </div>
                                <div class="grid grid-cols-2">
                                    <div class="px-4 py-2 font-semibold">Contact No.</div>
                                    <div class="px-4 py-2">+11 998001001</div>
                                </div>
                                <div class="grid grid-cols-2">
                                    <div class="px-4 py-2 font-semibold">Current Address</div>
                                    <div class="px-4 py-2">Beech Creek, PA, Pennsylvania</div>
                                </div>
                                <div class="grid grid-cols-2">
                                    <div class="px-4 py-2 font-semibold">Permanant Address</div>
                                    <div class="px-4 py-2">Arlington Heights, IL, Illinois</div>
                                </div>
                                <div class="grid grid-cols-2">
                                    <div class="px-4 py-2 font-semibold">Email.</div>
                                    <div class="px-4 py-2">
                                        <a class="text-blue-800" href="mailto:jane@example.com">jane@example.com</a>
                                    </div>
                                </div>
                                <div class="grid grid-cols-2">
                                    <div class="px-4 py-2 font-semibold">Birthday</div>
                                    <div class="px-4 py-2">Feb 06, 1998</div>
                                </div>
                            </div>
                            </div>
                    </fuse-card>

                    <fuse-card class="p-8 m-8">
                        <div class="text-2xl font-semibold leading-tight">General</div>
                    </fuse-card>

                    <fuse-card class="p-8 m-8">
                        <div class="text-2xl font-semibold leading-tight">General</div>
                    </fuse-card>
                </div>
        </main>
        <!-- Column 2 -->

    </div>
    <!-- Main -->

</div>


