<form *ngIf="form" class="flex flex-col w-full" [formGroup]="form">

    <div class="text-2xl font-semibold tracking-tight">{{group.name}}</div>

    <div class="flex flex-col w-full mt-6">

        <!--Person-->
        <person-autocomplete-control
            formControlName="person"
            required>
        </person-autocomplete-control>

        <div class="flex flex-col mt-6">
            <mat-label>Group Role</mat-label>
            <mat-button-toggle-group  formControlName="groupRole">
                <mat-button-toggle *ngFor="let role of groupRoles$ | async"
                                   matTooltip="{{role.isLeader ? 'Leader' : 'Non Leader'}}"
                                   [value]="role.id">
                    {{role.name}}
                </mat-button-toggle>
            </mat-button-toggle-group>
            <mat-error *ngIf="form.touched && form.get('groupRole').hasError('required')">
                Please select role.
            </mat-error>
        </div>

        <div class="flex flex-col mt-6">
            <mat-label>Communication Preference</mat-label>
            <mat-button-toggle-group  formControlName="communicationPreference">
                <mat-button-toggle value="Email">Email</mat-button-toggle>
                <mat-button-toggle value="Message">Message</mat-button-toggle>
            </mat-button-toggle-group>
            <mat-error *ngIf="form.touched && form.get('communicationPreference').hasError('required')">
                Please select communication preference.
            </mat-error>
        </div>

        <!-- Birthday -->
        <div class="flex items-center mt-6 w-full">
            <mat-form-field class="fuse-mat-no-subscript flex-auto">
                <mat-label>First Visit Date</mat-label>
                <input
                    matInput
                    [matDatepicker]="datepicker"
                    formControlName="firstVisitDate"
                    [placeholder]="'Birthday'">
                <mat-datepicker-toggle
                    matSuffix
                    [for]="datepicker">
                </mat-datepicker-toggle>
                <mat-datepicker #datepicker></mat-datepicker>
            </mat-form-field>
        </div>


    </div>

    <!-- Actions -->
    <div class="flex items-center mt-10 py-4 pr-4 pl-1 sm:pr-12 sm:pl-7 border-t bg-gray-50 dark:bg-transparent">
        <!-- Cancel -->
        <button
            class="ml-auto"
            mat-button
            [matTooltip]="'Cancel'"
            (click)="matDialogRef.close()">
            Cancel
        </button>
        <!-- Save -->
        <button *ngIf="action === 'new'"
            class="ml-2"
            mat-flat-button
            [color]="'primary'"
            [disabled]="!form.valid"
            [matTooltip]="'Add Member'"
            (click)="add()">
            Add
        </button>
    </div>
</form>

